.ipynb_checkpoints/
**/*.amltmp
.ipynb_aml_checkpoints/
.amlignore
us-patent-phrase-to-phrase-matching.zip
bert-base-uncased_log/
src/__pycache__/
saved_models/
lightning_logs/

test.py
to_do.txt
test.ipynb
bert-base-uncased_log_test/